/node_modules/
/dist

/public/build

.DS_Store
public/build

### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

actions-runner/*
scripts/tmp/*
scripts/a.out
scripts/output
