<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.codeAlpha.AXServer</string>
        <key>Program</key>
        <string>/Users/adrian/Developer/CodeAlpha.MVT.PoC/AXServer/.build/debug/CodeAlpha</string>
        <key>KeepAlive</key>
        <dict>
            <key>SuccessfulExit</key>
            <false/>
            <key>Crashed</key>
            <true/>
        </dict>
        <key>ThrottleInterval</key>
        <integer>10</integer>
    </dict>
</plist>
